<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Ecommerce", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://kit.fontawesome.com/bb58847862.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="h-screen flex overflow-hidden bg-gray-100">
      <div class="md:hidden sm:hidden">
        <div class="fixed inset-0 flex z-40">
          <div class="fixed inset-0">
            <div class="absolute inset-0 bg-gray-600 opacity-75"></div>
          </div>
          <div class="relative flex-1 flex flex-col max-w-xs w-full pt-5 pb-4 bg-gray-800">
            <div class="absolute top-0 right-0 -mr-14 p-1">
              <button class="flex items-center justify-center h-12 w-12 rounded-full focus:outline-none focus:bg-gray-600" aria-label="Close sidebar">
                <span class="h-6 w-6">
                  <i class="fas fa-bars"></i>
                </span>
              </button>
            </div>
            <div class="flex-shrink-0 flex items-center px-4">
              <h2 class="text-base text-white">Ecommerce</h2>
            </div>
            <div class="mt-5 flex-1 h-0 overflow-y-auto sm:hidden">
              <nav class="px-2 space-y-1">
                <%= link [to: Routes.page_path(@conn, :index), class: "group flex items-center px-2 py-2 text-sm leading-5 font-medium text-white rounded-md bg-gray-900 focus:outline-none focus:bg-gray-700 transition ease-in-out duration-150"] do %>
                  <i class="fas fa-store"></i>
                  Catalog
                <% end %>

                <%= link [to: Routes.product_path(@conn, :index), class: "group flex items-center px-2 py-2 text-sm leading-5 font-medium rounded-md text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition ease-in-out duration-150"] do %>
                  <i class="fas fa-box"></i>
                  Products
                <% end %>
              </nav>
            </div>
          </div>
          <div class="flex-shrink-0 w-14">
          </div>
        </div>
      </div>

      <div class="hidden md:flex md:flex-shrink-0">
        <div class="flex flex-col w-64">
          <div class="flex flex-col h-0 flex-1">
            <div class="flex items-center h-16 flex-shrink-0 px-4 bg-gray-900">
              <h2 class="text-base text-white">Ecommerce</h2>
            </div>
            <div class="flex-1 flex flex-col overflow-y-auto">
              <nav class="flex-1 px-2 py-4 bg-gray-800 space-y-1">
                <%= link [to: Routes.page_path(@conn, :index), class: "group flex items-center px-2 py-2 text-sm leading-5 font-medium text-white rounded-md bg-gray-900 focus:outline-none focus:bg-gray-700 transition ease-in-out duration-150"] do %>
                  <span class="mr-4 h-6 w-6 text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150">
                    <i class="fas fa-store"></i>
                  </span>
                  Catalog
                <% end %>

                <%= link [to: Routes.product_path(@conn, :index), class: "group flex items-center px-2 py-2 text-sm leading-5 font-medium rounded-md text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition ease-in-out duration-150"] do %>
                  <span class="mr-4 h-6 w-6 text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150">
                    <i class="fas fa-box"></i>
                  </span>
                  Products
                <% end %>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-0 flex-1 overflow-hidden">
        <div class="relative z-10 flex-shrink-0 flex h-16 bg-white shadow">
          <button class="px-4 border-r border-gray-200 text-gray-500 focus:outline-none focus:bg-gray-100 focus:text-gray-600 md:hidden" aria-label="Open sidebar">
            <span class="h-6 w-6">
              <i class="fas fa-bars"></i>
            </span>
          </button>
          <div class="flex-1 px-4 flex justify-between">
            <div class="flex-1 flex">
              <form class="w-full flex md:ml-0" action="#" method="GET">
                <label for="search_field" class="sr-only">Search</label>
                <div class="relative w-full text-gray-400 focus-within:text-gray-600">
                  <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none">
                    <i class="fas fa-search"></i>
                  </div>
                  <input id="search_field" class="block w-full h-full pl-8 pr-3 py-2 rounded-md text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 sm:text-sm" placeholder="Search" type="search">
                </div>
              </form>
            </div>
            <div class="ml-4 flex items-center md:ml-6">
              <button class="p-1 text-gray-400 rounded-full hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:shadow-outline focus:text-gray-500" aria-label="Notifications">
                <i class="fas fa-bell"></i>
              </button>
              <div class="ml-3 relative" x-data="{ open: false }">
                <div>
                  <button class="max-w-xs flex items-center text-sm rounded-full focus:outline-none focus:shadow-outline" id="user-menu" aria-label="User menu" aria-haspopup="true"  @click="open = !open">
                    <%= if Pow.Plug.current_user(@conn) do %>
                      <img class="h-8 w-8 rounded-full" src="<%= Ecommerce.Uploaders.Avatar.url @current_user.avatar %>" alt="">
                    <% end %>
                  </button>
                </div>
                <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg"
                  x-show="open" 
                  x-cloak
                  x-transition:enter="transition ease-out duration-100"
                  x-transition:enter-start="transform opacity-0 scale-95"
                  x-transition:enter-end="transform opacity-100 scale-100"
                  x-transition:leave="transition ease-in duration-75"
                  x-transition:leave-start="transform opacity-100 scale-100"
                  x-transition:leave-end="transform opacity-0 scale-95">
                  <div class="py-1 rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                    <%= link "Settings", to: Routes.pow_registration_path(@conn, :edit), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150", role: "menuitem" %>
                    <%= link "Sign Out", to: Routes.pow_session_path(@conn, :delete), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150", role: "menuitem", method: :delete %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <main class="flex-1 relative overflow-y-auto focus:outline-none" tabindex="0">
          <div class="pt-2 pb-6 md:py-6">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
              <div class="py-4">            
                <%= @inner_content %>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
